# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
*.log
/media/
Zenve_Fashion_Backend/media/
!Zenve_Fashion/public/media/
staticfiles/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db